<div class="card colorprop">
  <div class="card-body">
    Ganhe 10% de desconto na primeira compra
  </div>
</div>

<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">



      </div>
    </div>
  </div>
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <img src="../../../../../assets/logo_novo.png" width="150px" height="150px">

      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Buscar">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>

    </div>
  </div>

  <div class="estilo">

  </div>

  <!--SEGUNDA NAV BAR COM ITENS-->
  <nav id="menu" class="navbar">
    <div class="nav-inner">
      <div class="navbar-header"><span id="category" class="visible-xs">Categorias</span>
        <button type="button" class="btn btn-navbar navbar-toggle"><i class="fa fa-bars"></i></button>
      </div>
      <div class="navbar-collapse">
        <ul class="main-navigation">

          <li><a  class="active parent">Produtos</a>
            <ul>
              <li><a [routerLink]="'/produto'">Todos</a></li>
              <li><a [routerLink]="">Buscar</a></li>
              <li><a [routerLink]="'/produto-cadastro'">Cadastro</a></li>
              <li><a [routerLink]="'/produto-atualizacao'">Atualizar</a></li>
            </ul>
          </li>
          
          <li><a [routerLink]="'/associados'" class="parent">Seja (( ECO ))</a> </li>
          <li><a [routerLink]="" class="active parent">Conta</a>
            <ul>
              <li><a [routerLink]="'/cadastro'" *ngIf='!log2'>Cadastro</a></li>
              <li><a [routerLink]="'/login'" *ngIf='log2'>Minha conta</a></li>
              <li><a [routerLink]="'/login'" *ngIf='!log2'>Logar</a></li>
              <li><a href="#" *ngIf='!log2'>Esqueci a minha senha</a></li>
            </ul>
          <li><a href="#" class="active parent">Saiba mais</a>
            <ul>
              <li><a [routerLink]="'/contato'">Contato</a></li>
              <li><a [routerLink]="'/empresa'">A (( ECO ))</a></li>
              <li><a [routerLink]="'/sobrenos'">A equipe</a></li>
              <li><a [routerLink]="'/ajuda'">Perguntas Frequentes</a></li>
            </ul>

          </li>


        </ul>

      </div>
    </div>
  </nav>

  <script src="/assets/javascript/DioProgress.js"></script>
  <script src="/assets/javascript/jquery.parallax.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $('.parallax').parallax();
    });
  </script>