<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-offset-3 col-md-6">
            <h4 class="header">Perguntas Frequentes</h4>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Como faço meu cadastro?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                        aria-labelledby="headingOne">
                        <div class="panel-body">
                            Basta ir em “Cadastro” e preencher um formulário para se cadastrar como usuário.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Como saber se meu login está funcionando?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Após logar, a página será redirecionada para home e lá aparecerá o nome de usuário cadastro.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Como faço para obter informações, fazer críticas ou sugestões?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingThree">
                        <div class="panel-body">
                            Basta ir na aba “Contato” e preencher seu e-mail, nome, telefone e escrever sua mensagem.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Quem faz parte da equipe (( ECO ))?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingFour">
                        <div class="panel-body">
                            Basta ir na aba “Sobre nós / Equipe”, você conhecerá os integrantes de nossa equipe e suas
                            respectivas informações de contato.
                        </div>
                    </div>
                </div>

                <!-- cinco -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Por que a empresa chama-se (( ECO ))?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingFive">
                        <div class="panel-body">
                            O nome ((ECO)) foi escolhido para representar o propósito da nossa empresa em ser
                            responsável com o meio ambiente, e o nosso desejo de ecoar nosso ideal por um futuro melhor.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Quais são as marcas parceiras da ((ECO))?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            Inicialmente as parceiras são: Lola Cosméticos, Inoar, Let Natural Cosméticos, Cativa
                            Natureza, Bioart Cosmetics e Surya Brasil. Como apoiamos pequenos produtores, há a
                            possibilidade de novas parcerias.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                O que significa o termo “Eco-friendly”?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingSeven">
                        <div class="panel-body">
                            A tradução literal é amigo do meio ambiente. Esse termo se refere a pessoas ou atitudes que
                            visam causar o menor impacto possível na natureza.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Como posso saber mais sobre ser parceiro do site?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingEight">
                        <div class="panel-body">
                            Para ser parceiro em nosso site entre na aba Seja (( ECO )) e siga o passo a passo.
                            Entraremos em contato o mais rápido possível.
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingNine">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                O que significa o termo "Cruelty-free"?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingNine">
                        <div class="panel-body">
                            Cruelty-free é um termo em inglês cuja tradução significa “livre de crueldade”. Aplica-se a
                            produtos que não foram testados em animais.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                Como funciona a política de reembolso?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                        <div class="panel-body">
                            Serão passíveis de reembolso os pedidos nos quais forem constatados: 1. Exercício do direito
                            de arrependimento; ou 2. Existência de vícios, avarias ou defeitos.
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>

</div>