<section id="our-process" class="padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
              <div class="heading-title text-center wow fadeInUp" data-wow-delay="300ms">
                  <h2 class="darkcolor bottom20 text-capitalize font">SEJA ((ECO)) </h2>
                  <p class="bottom0">Faça parte da rede de apoio da ((ECO))</p>
                  <p class="bottom0">Venda seus produtos em nossa página que foi feita para alcançar sua independência financeira e reconhecimento.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <ul class="process-wrapp">
              <li class="wow fadeIn" data-wow-delay="300ms">
                  <span class="pro-step gradient_bg_two bottom20"><i class="far fa-edit"></i></span>
                  <h4 class="font-light darkcolor bottom25">Cadastre-se</h4>
                  <p class="bottom0 font">O primeiro passo para começar a fazer parte da rede é o cadastro. </p>
              </li>
              <li class="wow fadeIn" data-wow-delay="350ms">
                  <span class="pro-step gradient_bg_three bottom20"><i class="far fa-clock"></i></span>
                  <h4 class="font-light darkcolor bottom25">Confirmação</h4>
                  <p class="bottom0 font"> Aguarde o e-mail de confirmação do cadastro </p>
              </li>
              <li class="wow fadeIn" data-wow-delay="400ms">
                  <span class="pro-step gradient_bg_one bottom20"><i class="fas fa-wrench"></i></span>
                  <h4 class="font-light darkcolor bottom25">Monte sua loja</h4>
                  <p class="bottom0 font">Agora é só começar a utilizar nossa plataforma para inserir seus produtos.</p>
              </li>
              <li class="wow fadeIn" data-wow-delay="450ms">
                  <span class="pro-step gradient_bg_four bottom20"><i class="fas fa-user-check"></i></span>
                  <h4 class="font-light darkcolor bottom25">Aprovação final</h4>
                  <p class="bottom0 font">Falta pouco! Agora a nossa equipe vai avaliar se os produtos inseridos estão adequados.</p>
              </li>
              <li class="wow fadeIn" data-wow-delay="500ms">
                  <span class="pro-step gradient_bg_five bottom20"><i class="fas fa-hand-holding-usd"></i></span>
                  <h4 class="font-light darkcolor bottom25">É hora de Vender!</h4>
                  <p class="bottom0 font">Agora é só esperar que os produtos sejam vendidos e você já começa a receber!</p>
              </li>
          </ul>
      </div>
  </div>
</section>

<!--LOJA EXEMPLO - MODELO DA PESSOA QUE VENDE-->
   <hr>
   <h1 class="font text-center color">Perfil exemplo</h1>
   


<div class="row">

  <div class="col-lg-5">
      <div class="media">
          <a class="pull-left" href="#">
              <img class="media-object dp img-circle" src="assets/usuario.jpg" style="width: 100px;height:100px;">
          </a>
          <div class="media-body">
              <h4 class="media-heading font2">Seu nome aqui </h4>
              <h5 class= "font">Tipo de produtos disponibilizados</h5>
              <hr style="margin:8px auto">

              <span class="label label-default">Outras informações sobre os produtos</span>
           
          </div>
      </div>

  </div>

  

</div>

<div class="container">
    <div class="grid">
        <div class="row">
            <div class="col-md-4">
                <figure class="effect-ravi">
                    <img src="../../../../assets/esfoliante1.PNG" width="350" height="350" alt="Esfoliante"/>
                    <figcaption>
                        <h2>Corpo <span>Esfoliante</span></h2>
                        <p>
                            <a href="#"></a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-ravi">
                    <img src="../../../../assets/sal.jpg" width="350" height="350" alt="Sal de banho" />
                    <figcaption>
                        <h2>Banho <span>Sais</span></h2>
                        <p>
                            <a href="#"></a>

                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-ravi">
                 <img src="../../../../assets/inoar_vegan.jpg" width="350" height="350" alt="Máscara para cabelo"/>
                    <figcaption>
                        <h2>Cabelo <span>Máscara</span></h2>
                        <p>
                            <a href="#"></a>

                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <figure class="effect-ravi">
                     <img src="../../../../assets/sabontes_veganos.jpg" width="540" height="500" alt="Sabonete em barra"/> 
                    <figcaption>
                         <h2>Corpo <span>Sabonetes</span></h2>
                        <p>
                            <a href="#"></a>

                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col">
                <figure class="effect-ravi">
                 <img src="../../../../assets/sabontes_veganos.jpg" width="540" height="500" alt="Sabonete em barra"/>
                    <figcaption>
                        <h2>Corpo <span>Sabonetes</span></h2>
                        <p>
                            <a href="#"></a>

                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="row">

    </div>

</div>