<div class="container fonte">
    <div class="omb_login">
        <h3 class="omb_authTitle">Login do Cliente</h3>

        <div class="row omb_row-sm-offset-3">
            <div class="col-1"></div>
            <div class="col-4">
                <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" [(ngModel)]="userLogin.email" name="username"
                            placeholder="email address">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" [(ngModel)]="userLogin.senha" class="form-control" name="password"
                            placeholder="Password">
                    </div>
                    <span class="help-block"> </span>

                    <button class="btn btn-lg btn-primary btn-block" (click)="login()" type="submit">Login</button>
                    <p-toast key="global"></p-toast>
                    <p-toast [style]="{marginTop: '80px'}" position="top-right" [showTransitionOptions]="'100ms'"
                        [hideTransitionOptions]="'10ms'" (onClose)="redirect()"></p-toast>
                    <p-toast key="error" [style]="{marginTop: '80px'}" position="top-right"
                        [showTransitionOptions]="'100ms'" [hideTransitionOptions]="'500ms'"></p-toast>

                </form>
            </div>
            <div class="col-4"></div>
        </div>

        <div class="row omb_row-sm-offset-3 omb_socialButtons ">

            <div class="col-xs-12 col-sm-4">
                <p class="omb_forgotPwd">
                    Não tem cadastro? <a style="color: black" [routerLink]="['/cadastro']"
                        routerLinkActive="router-link-active">Cadastre-se</a>
                </p>
            </div>
        </div>


    </div>



</div>