.colorprop{
    color: #000;
    background: #88c6c3;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  
}
.fundofrete{
    background-color: black;
    width: 100%;
    height: 80px;
}
.fonte{
    font-family: 'poppins', sans-serif;
}

hr{
    background-color: #588068;
    height: 5px;
    box-sizing: border-box;
}

.titulo{
    text-transform: uppercase;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: #e5b0a4;
}
.container{
    text-align: center;
    position: relative;
    display: block;
 
    /* transform: transform(-50% -50%); */
    width: 2000px;   
     background: black;

}
.container h1{
    text-transform: uppercase;
    display: block ;
    background: black;
    float: inline;

}
.text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: black;
    /* position: ; */
    animation: text 3s 1
}

