<!-- <img class="wave" src="img/wave.png"> -->
<div class="container" style="padding-left: 150px;">
  <!-- <div class="img">
        <img src="../../../../assets/bg.png">
    </div> -->
  <div class="login-content">

    <h1 style="padding: 15px; text-align: center">Cadastro de produtos</h1>
    <div class="card">
      <article class="card-body mx-auto" style="max-width: 400px;">

        <p class="divider-text">
          <span class="bg-light">Preencha o formulário abaixo</span>
        </p>
        <form>

          <!-- nome -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="nome do produto" [(ngModel)]="produto.nome" class="form-control" placeholder="Nome do produto"
              type="text">
          </div>

          <!-- descricao -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="desc" [(ngModel)]="produto.descricao" class="form-control" placeholder="Descrição do produto"
              type="text">
          </div>

          <!-- marca -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="marca" [(ngModel)]="produto.marca" class="form-control" placeholder="Marca do produto"
              type="text">
          </div>


          <!-- linkFoto -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="linkFoto" [(ngModel)]="produto.linkFoto" class="form-control"
              placeholder="link da foto do produto" type="text">
          </div>

          <!-- valor -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="valor" [(ngModel)]="produto.valor" class="form-control" placeholder="Valor do produto"
              type="text">
          </div>

          <!-- qtdEstoque -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="qtdEst" [(ngModel)]="produto.qtdEstoque" class="form-control"
              placeholder="Quantidade em estoque" type="text">
          </div>

          <!-- categoria -->

          <div >
            <p-dropdown class="input" [options]="categorias" name="dropdownCategoria" [(ngModel)]="categoriaId">
            </p-dropdown>
          </div>

          <!-- form-group// -->
          <div class="btn-block">
            <button (click)="cadastrar()" type="submit" class="btn" value="">Cadastrar</button>
            <!-- <button type="submit" class="btn btn-primary btn-block"> Cadastrar </button> -->
          </div>

        </form>
      </article>
    </div>
