#bUp {
    bottom: 30px;
    right: 30px;
    padding: 15px;
    position: fixed;
    width: 100px;
    height: 100px;
}

.fa-chevron-circle-up {
    cursor: pointer;
}

body {
    font-family: 'poppins', sans-serif;
}

.bg-grey {
    background: #588068;
}

.logo-footer {
    margin-bottom: 40px;
}

footer {
    color: #000;
}

footer p, a {
    font-size: 12px;
    font-family: 'poppins', sans-serif;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: #fc766a;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: #88c3c3;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {
    text-decoration: none;
}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

.social .fa {
    color: #fc766a;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fc766a !important;
}

.logo-part {
    border-right: 1px solid #fc766a;
    height: 100%;
}

.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background: #588068;
    padding: 20px 0px;
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #f5f3f5;
}

.footer-social-icons ul li a {
    color: #88c6c3;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i {
    line-height: 50px;
}

.selo {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

.selos ul li {
    display: inline;
}

.banner {
    width: 100%;
}