<div class="footer-main-div">

    <div class="footer-social-icons">
      <ul>
        <li><a href="#" target="blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
         <li><a href="#" target="blank"><i class="fab fa-linkedin"></i></a></li>
         <li><a href="#" target="blank"><i class="fas fa-spa"></i></a></li>
      </ul>
    </div>
    <div class="footer-menu-one">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Sobre nós</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Seja ((ECO))</a></li>
        <p><i class=" footer-bottom far fa-copyright"></i>2019 - 2020 (( ECO )). Todos os direitos reservados.</p>
    </ul>
    </div>
    <span style="font-size: 48px; color:#fc766a;">
    <i class="fas fa-chevron-circle-up" id="bUp" (click)="sobeTopo()" ></i>
  </span>
    </div>
  
  
  
  
  
  