<span style="font-size: 48px; color:#fc766a;">
  <i class="fas fa-chevron-circle-up" id="bUp" (click)="sobeTopo()"></i>
</span>

<footer class="container-fluid bg-grey py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 ">
            <div class="logo-part">

              <div class="footer-main-div">
                <div class="col-md-6 ">
                  <h6> Redes sociais</h6>
                </div>
                <div class="footer-social-icons">
                  <ul>
                    <li><a href="#" target="blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a [routerLink]="'/home'" (click)="topo()"><i class="fas fa-spa"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 px-4">
            <h6> A ((ECO))</h6>

            <a [routerLink]="'/associados'" class="btn-footer"> Seja (( ECO ))</a>
            <a [routerLink]="'/cadastro'" class="btn-footer"> Cadastre-se </a><br>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 px-4">
            <h6> Mapa do site</h6>
            <div class="row ">
              <div class="col-md-6">
                <ul>
                  <li> <a [routerLink]="'/home'"> Home</a> </li>
                  <li> <a [routerLink]="'/contato'"> Contato</a> </li>
                  <li> <a [routerLink]="'/equipe'"> Equipe</a> </li>


                </ul>
              </div>
              <div class="col-md-6 px-4">
                <ul>
                  <li> <a [routerLink]="'/login'"> Login </a> </li>
                  <li> <a [routerLink]="'/ajuda'"> FAQ </a> </li>
                  <li> <a [routerLink]="'/empresa'"> Sobre nós </a> </li>
                </ul>
              </div>

            </div>

          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 px-4">
                <h6> Selos</h6>
                <div class="row selos">
                  <div class="col-md-12">
                    <ul class="">
                      <li> <img class="selo" src="../../../../assets/eco-friendly.png"> </li>
                      <li> <img class="selo" src="../../../../assets/reciclo.png"> </li>
                      <li> <img class="selo" src="../../../../assets/cruelty-free.png"> </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>