
<div class="aboutus-section font background">
       <div class="container">
          
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">((ECO))</h2>
                    <p class="aboutus-text"> É um projeto eco-friendly, diverso, inclusivo, transparente e preocupado com os problemas socioambientais.</p>
                    <p class="aboutus-text"> É uma iniciativa que oferece cosméticos de bem-estar, não testados em animais e biodegradáveis.</p>
                    <p class="aboutus-text">Um dos objetivos é incentivar pequenos produtores a crescerem profissionalmente e pessoalmente, por meio da cocriação de produtos para consumo consciente no Brasil.</p>
                    <p class="aboutus-text">Um dos objetivos é incentivar pequenos produtores a crescerem profissionalmente e pessoalmente, por meio da cocriação de produtos para consumo consciente no Brasil.</p>
                    <p class="aboutus-text">Um dos objetivos é incentivar pequenos produtores a crescerem profissionalmente e pessoalmente, por meio da cocriação de produtos para consumo consciente no Brasil.</p>
                    <p class="aboutus-text">Um dos objetivos é incentivar pequenos produtores a crescerem profissionalmente e pessoalmente, por meio da cocriação de produtos para consumo consciente no Brasil.</p>
                   
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                        <img id="imgf" src="assets/centro_empresa.png" alt="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            
                            <div class="feature-content">
                                <h4>Eco - Friendly</h4>
                                <p>É um termo em inglês cuja tradução significa "amigável ao meio ambiente". Em outros termos, eco-friendly se refere a algo que não causa danos socioambientais ou tem impactos reduzidos em comparação a um produto, evento, situação ou postura equivalente. </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            
                            <div class="feature-content">
                                <h4>Cruelty-Free</h4>
                                <p>Cruelty-free é um termo em inglês cuja tradução significa “livre de crueldade”. Aplica-se a produtos que não foram testados em animais. Esses produtos buscam a conscientização sobre a evolução dos testes laboratoriais e utilizam métodos que visam abolir o uso de animais como cobaias. Testar produtos em animais é desnecessário e antiético devido à evolução da ciência com os testes in-vitro, falta de precisão dos resultados existe o fator crueldade e sofrimento aos quais os mesmos são expostos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                           
                            <div class="feature-content">
                                <h4>Responsabilidade Socioambiental</h4>
                                <p>Está ligada a ações que respeitam o meio ambiente e a políticas que tenham como um dos principais objetivos a sustentabilidade. Todos são responsáveis pela preservação ambiental: governos, empresas e cada cidadão.
                                    Produção sustentável é a incorporação, ao longo de todo ciclo de vida de bens e serviços, das melhores alternativas possíveis para minimizar custos ambientais e sociais.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


